<h2>virtual scroll</h2>
<hr>

<div class="row">
    <div class="col">
        <button class="btn btn-outline-primary mb-2" (click)="scrollTo(0)">
            Ir al inicio
        </button>
    </div>
    <div class="col text-right">
        <button class="btn btn-outline-success mb-2" (click)="scrollTo(personas.length/2)">
            Ir a la mitad
        </button>
    </div>
    <div class="col text-right">
        <button class="btn btn-outline-secondary mb-2" (click)="scrollTo(personas.length)">
            Ir al final
        </button>
    </div>
</div>

<cdk-virtual-scroll-viewport class="list-group list-container" itemSize="40">

    <div class="animate__animated animate__fadeInLeft list-group-item"
        *cdkVirtualFor="let persona of personas; let i = index; let c = count">
        {{persona.nombre}} {{persona.apellido}} | {{i}} | {{c}}
    </div>

</cdk-virtual-scroll-viewport>